{% extends 'newsletter/base.html' %}
{% block content %}
<main class="px-3">
    <h1>Добро пожаловать в сервис рассылок!</h1>
    <p class="lead">Здесь вы можете создать и настроить отправку рассылок для информирования и привлечения
        клиентов.</p>
    <br>
    <div class="row">
        <div class="col-6 text-sm-start">
            <li>Всего рассылок - {{count_mail}}</li>
            <li>Активных рассылок - {{mail_is_active}}</li>
            <li>Всего клиентов - {{count_client}}</li>
            <li>Уникальных клиентов - {{count_client_unique}}</li>
        </div>
    </div>
    <br>
    <div class="row mt-4">
        <div class="col-12">
            <h5>Зайдите в наш блог, это только часть статей</h5>
            <div class="card-group">
                {% for object in random_article_list %}
                <div class="card">
                    <img src="{{ object.preview.url }}" class="card-img-top" alt="card-group-image"
                         style="height:200px">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.title|capfirst|slice:30}}...</h5>
                        <p class="card-text">{{ object.content | slice:60 }}...</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <a href="{% url 'article:article_detail' object.pk %}" class="btn btn-sm btn-outline-info">Читать</a>
                        <small class="text-muted">Просмотров: {{ object.view_count }}</small>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
